@model BookishWebApplication.Models.View.SearchViewModel

@{
    ViewData["Title"] = "Edit Books";
}

<div class="text-center">
    <h1 class="display-4">Edit Books</h1>
    
    <div class="post-form-container">
        <form method = "post" action="/books/create/book">
            <fieldset>
                <legend>Create a Book (* is required)</legend>
                <label for="Title">Title*</label><br/>
                <input type="text" id="Title" name="Title" alt="book title input"/><br/>
            
                <label for="PublicationYear">Publication Year</label><br>
                <input id="PublicationYear" type="text" name="PublicationYear"/><br>
            
                <label for="Isbn">ISBN</label><br>
                <input id="Isbn" type="text" name="Isbn"/><br>
                
                <input type="submit"/>
            </fieldset>
        </form>
    </div>
    <br/>
    <div class="post-form-container">
            <form method = "post" action="/books/create/author">
                <fieldset>
                    <legend>Create an Author (* is required)</legend>
                    <label for="FirstName">First Name*</label><br/>
                    <input type="text" id="FirstName" name="FirstName"/><br/>
                
                    <label for="LastName">Last Name*</label><br>
                    <input id="LastName" type="text" name="LastName"/><br>
                    
                    <input type="submit"/>
                </fieldset>
            </form>
        </div>
</div>

@*TODO Make it clear request was successful or not*@
@*TODO make create copy/print form *@
@*TODO add authors to book*@
