@model BookishWebApplication.Models.View.SearchBooksViewModel

@{
    ViewData["Title"] = "Edit Books";
}

<div class="text-center">
    <h1 class="display-4">Create Copy</h1>

    <div class="post-form-container">
        <form method = "post" action="/books/create/copy">
            <fieldset>
                <legend>
                    <p>Create a Copy of a Book (* is required)</p>
                    <p>Book and Author must Already Exist</p>
                </legend>
                <label for="Title">Title*</label><br/>
                <input type="text" id="Title" name="Title" alt="book title input"/><br/>
            
                <label for="FirstName">Author First Name*</label><br>
                <input id="FirstName" type="text" name="FirstName"/><br>
            
                <label for="LastName">Author Last Name*</label><br>
                <input id="LastName" type="text" name="LastName"/><br>
                
                <input type="submit"/>
            </fieldset>
        </form>
    </div>
</div>

@*TODO Make it clear request was successful or not*@
@*TODO make create copy/print form *@
