@model BookishWebApplication.Models.View.SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <h1 class="display-4">Book Search</h1>
    <p>Searching for: @Model.BookTitle</p>
    
    @{
        if (!Model.Books.Any())
        {
            <p>No books with title @Model.BookTitle found</p>
        }
        foreach (var book in Model.Books)
        {
            <p>Book: @book.Title</p>
            if (book.PublicationYear == 0)
            {
                <p>Published: Unknown</p>
            }
            else
            {
                <p>Published: @book.PublicationYear</p>
            }
            <br/>
        }
    }
    
</div>