@model BookishWebApplication.Models.View.AuthorViewModel
@{
    ViewData["Title"] = "Author Page";
}

<div class="text-center">
    
    @{
        <h1> Author Page</h1>
        foreach (var author in Model.Authors)
        {
            if (author.FirstName != null)
            {
                <p>Author: <a asp-action="ViewAuthorPage" asp-route-id="@author.AuthorId">@author.FirstName @author.LastName</a></p>
            }
            else
            {
                <p>Author: No authors added</p>
            }
         
        }
    }
</div>