@model BookishWebApplication.Models.View.AuthorViewModel
@{
    ViewData["Title"] = "Author Page";
}

<div class="text-center">
    <h1> Author Page</h1>
    @if (Model.Author.FirstName != null)
        {
            <p>Id: @Model.Author.AuthorId</p>
            <p>Name: @Model.Author.FirstName @Model.Author.LastName</p>
        }
        else
        {
            <p>Author: No authors added</p>
        }
</div>