@model BookishWebApplication.Models.View.AuthorsViewModel
@{
    ViewData["Title"] = "Author Page";
}

<div class="text-center">
    <h1> Author Page</h1>
    <a asp-action="CreateAuthorPage">Create an Author</a>

    @{
        foreach (var author in Model.Authors)
        {
            if (author.FirstName != null)
            {
                <p>Author: <a asp-action="ViewAuthorPage" asp-route-id="@author.AuthorId">@author.FullName</a></p>
            }
            else
            {
                <p>Author: No authors added</p>
            }
        }
    }
</div>